# NetBeans project files
nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Compiled Java files
*.class

# JAR files (kecuali kalau memang mau di-include)
*.jar
*.war
*.ear

# Log files
*.log

# OS files
.DS_Store
Thumbs.db